---
interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;
const id = url.split("/").at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`;
---

<!-- href={`/pokemons/${name}`} -->
<a
  href={`/pokemons/${name}`}
  target="_blank"
  rel="noopener noreferrer"
  class:list={[
    "rounded flex flex-col justify-center p-4 text-slate-100",
    !isBig ? "border-2 border-slate-400" : "",
  ]}
>
  <img
    transition:name={`${name}-image`}
    src={imageSrc}
    alt="{name}"
    class:list={["mx-auto", isBig ? "w-80" : "w-48"]}
  />
  <span class:list={["capitalize text-center", isBig ? "text-xl" : "text-sm"]}
    >#{id} {name}</span
  >
</a>
