---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import MainLayout from "@layouts/MainLayout.astro";

import PokemonCard from "@components/pokemons/PokemonCard.astro";
import Title from "@components/shared/Title.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;

  return paginate(results, { pageSize: 10 });
}) satisfies GetStaticPaths;

const title = "Pokémon Static | Home";
const { page } = Astro.props;
---

<MainLayout title={title}>
  <Title>Listado de Pókemons</Title>

  <section
    aria-label="Listado Paginado de Pokémons"
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4"
  >
    {page.data.map(({ name, url }) => <PokemonCard name={name} url={url} />)}
  </section>

  <section class="mt-10 mx-auto flex items-center gap-2">
    <!--{
      page.url.prev && (
        <a href={page.url.prev} class="btn">
          Anterior
        </a>
      )
  } -->

    <a
      href={page.url.prev}
      class:list={[
        "btn",
        {
          disabled: !page.url.prev,
        },
      ]}
    >
      Anterior
    </a>

    <a
      href={page.url.next}
      class:list={[
        "btn",
        {
          disabled: !page.url.next,
        },
      ]}
    >
      Siguiente
    </a>

    <div class="flex flex-1"></div>
    <span class="text-xl font-bold">Página {page.currentPage}</span>
  </section>
</MainLayout>

<style>
  .btn {
    @apply bg-blue-500 p-2 text-white rounded-md;
  }

  .disabled {
    @apply bg-gray-600 text-gray-400;
  }
</style>
